<footer class="pl-5 p-4 bg-warning">
  <div>
    <h2>Aa-So-Sa</h2>
    <p>© 2020 Aa-So-Sa. All rights reserved.</p>
    <p>Contact Us:</p>
    <p>https://github.com/aaron3993</p>
    <p>https://github.com/sophdubs</p>
    <p>https://github.com/letsandeepio</p>
  </div>
</footer>
