<footer class="pl-5 p-4 bg-warning">
  <div class='footer'>
    <h2>Aa-So-Sa</h2>
    <p>© 2020 Aa-So-Sa. All rights reserved.</p>
    <p>Made with ❤️ by:
    <i class="fab fa-github"></i>&nbsp;<a href='https://github.com/aaron3993'>Aaron</a>
    <i class="fab fa-github"></i>&nbsp;<a href='https://github.com/sophdubs'>Sophie</a> and 
  <i class="fab fa-github"></i>&nbsp;<a href='https://github.com/letsandeepio'>Sandeep</a></p>
  </div>
</footer>
