<header>
  <nav class="custom-nav">
    <ul class="nav-elements">
      <li>
        <a class="nav-logo nav-elem" href="/">AaSoSa</a>
        <a class="nav-button nav-elem" href="/menu">Menu</a>
      </li>
      <li>
        <% if (user.username) { %>
          <p class="nav-elem">Logged in as: <%= user.username %></p>
          <% if (user.role === 'customer') { %>
            <a class="nav-button nav-elem" href="/orders/new">Checkout</a>
          <% } %>
        <form method="post" action="/logout" class="nav-button nev-elem">
          <a onclick="this.parentNode.submit();" class="logout">Logout</a>
        </form>
        <% } %>
      </li>
  </nav>
</header>
