<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Midterm Project</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type ="text/javascript" src="/scripts/client-menu.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="container bg-white mt-5">
      <ul style="list-style: none">
        <li>
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title"> Order #7 </h5>
              <h6 class="card-subtitle mb-2 text-muted">2020-06-29 09:05:06</h6>
              <ul>
                <li class="card-text">2X braised beef</li>
                <li class="card-text">3X stirfry </li>
                <li class="card-text">1X water bottle </li>
              </ul>
              <p class="card-text">Special instructions: extra napkins please</p>
              <form action="/admin" method="post">
                <input type="hidden" value="7" name="order_id">
                <input type="text" placeholder="estimated wait time" name="wait_time">
                <input type="submit" class="btn btn-dark" value="confirm order">
              </form>
            </div>
          </div>
        </li>
      </ul>



    </div>

    <!-- <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div> -->

  </body>
</html>
