<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to Aa-So-Sa Asian Fusion</title>

  <%- include("partials/_header") %>

  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="bg-light text-center">
  <%- include("partials/_navbar") %>
  <div class="container text-center bg-white p-4 mt-5">
    <h1 class="text-dark">Welcome to APP_NAME</h1>
    <h3>We are a super cool app that lets you order delicious food and get real-time notifications regarding your order
      status</h3>
    <% console.log('I AM TRYING MAN'); %>
    <% console.log(isLoggedIn); %>

    <% if (isLoggedIn === '{}') { %>
    <p>Please login or register to continue</p>
    <a href="/login" class="btn btn-dark">Login</a>
    <br>
    <a href="/register" class="btn btn-dark mt-3">register</a>
    <%} %>


  </div>
</body>

</html>
