<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Midterm Project</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <% const order = { test: true } %>
    <h1>Our Menu</h1>

    <div class="container">
      <ul style="list-style-type: none">
        <!-- TODO: Instead of hard coding these, we can loop through the menu items and generate a card for each -->
        <li class="bg-light p-2">
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1563245372-f21724e3856d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-left" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dumplings</h5>
              <p class="card-text">Dumplings filled with pork, crab meat and broth.</p>
              <p>$12.99</p>
              <a href="#" class="btn btn-dark">+</a>
              <a href="#" class="btn btn-dark">-</a>
            </div>
          </div>
        </li>
        <li class="bg-light p-2">
          <% console.log(order); %>
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1514944288352-fffac99f0bdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-left" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ginger prawns</h5>
              <p class="card-text">Traditional Vietnamese style sauteed prawn in ginger honey sauce</p>
              <p>$12.99</p>
              <a href="#" class="btn btn-dark">+</a>
              <a href="#" class="btn btn-dark">-</a>
            </div>
          </div>
        </li>
        <li class="bg-light p-2">
          <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1512058564366-18510be2db19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-left" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chef's fried rice</h5>
              <p class="card-text">Fried rice with shrimp and chicken, Chinese sausage, egg bean sprouts, lettuce and basil.</p>
              <p>$12.99</p>
              <a href="#" class="btn btn-dark">+</a>
              <a href="#" class="btn btn-dark">-</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </body>
</html>
