<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aa-So-Sa Aisan Fusion - Review & Place New Order!</title>

  <%- include('partials/_header') %>


  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>

  <%- include('partials/_navbar') %>
  <div class="order-container d-flex justify-content-center">
    <div class="order mt-5 mb-5 text-center">
      <form class="order-form border border-secondary p-4" method="post" action="/orders">
        <h2>My order:</h2>

        <ul class="list-group order-list"></ul>


        <p>total: $<span class="ml-auto order-total"></span></p>

        <div class="form-group">
          <label for="specialInstructions">Special Instructions:</label>
          <textarea name="specialInstructions" class="bg-warning form-control"></textarea>
        </div>

        <input type="hidden" name="orderDetails" class="form-order-details" value='{}'></input>

        <button type="submit" class="btn btn-warning">Place Order</button>
      </form>
    </div>
  </div>

  <script>
    const menu = <%-JSON.stringify(menuItems)%>;
  </script>
  <script type="text/javascript" src="/scripts/client-orders.js"></script>
</body>

</html>
