<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Midterm Project</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
     <!-- Order pending (waiting for confirmation from owner) -->
     <% if(true) { %>
      <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <p class="mt-4"> Please wait while we confirm your order</p>

    <!-- Order confirmed and order status displayed -->
    <% } else { %>
      <div class="container mt-5 bg-white p-4 text-center">
        <h3>Your order has been confirmed</h3>
        <h4>Expected Pickup Time: ******</h4>
        <div class="progress mx-auto" style="width: 70%">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
        </div>
        <p>Order is being prepared</p>
      </div>
    <% } %>

  </body>
</html>
