<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aa-So-Sa Aisan Fusion Pending Orders</title>

  <%- include('partials/_header') %>


  <script type="text/javascript" src="/scripts/app.js"></script>


</head>

<body>
  <%- include('partials/_navbar') %>
  <!-- Order pending (waiting for confirmation from owner) -->
  <div class="container mt-5 text-center border border-secondary">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Pending...</span>
      </div>
    </div>
    <p class="mt-4 mb-4"> Please wait while we confirm your order with the restaurant</p>
  </div>
</body>

</html>
