<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
</head>

<body class="register">
  <div class="register-container">
    <% if (errorMsg) { %>
    <div class="register-error-msg">
      <p><%= errorMsg %></p>
    </div>
    <% } %>
    <div class="register-form text-center">
      <form method="post" action="/register">
        <h1 class="register-logo">AaSoSa</h1>
        <div class="form-group">
          <input name="userName" type="text" class="form-control" id="userName" placeholder="Enter name">
        </div>
        <div class="form-group">
          <input name="userEmail" type="email" class="form-control" id="userEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input name="userPhone" type="tel" class="form-control" id="userPhone" placeholder="Enter phone number">
        </div>
        <div class="form-group">
          <input name="userPassword" type="password" class="form-control" id="userPassword" placeholder="Create password">
        </div>
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</body>

</html>
