
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <% if (errorMsg) { %>
      <div class="alert alert-danger text-center mt-4" role="alert">
        <p><%= errorMsg %></p>
      </div>
    <% } %>
    <div class="container text-center">
      <form class="border border-dark p-4 mt-5" method="post" action="/register">
        <h3>Register</h3>
        <div class="form-group">
          <input name="userName" type="text" class="form-control" id="userName" placeholder="Enter name">
        </div>
        <div class="form-group">
          <input name="userEmail" type="email" class="form-control" id="userEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input name="userPhone" type="tel" class="form-control" id="userPhone" placeholder="Enter phone number">
        </div>
        <div class="form-group">
          <input name="userPassword" type="password" class="form-control" id="userPassword" placeholder="Create password">
        </div>
        <button type="submit" class="btn btn-dark">Register</button>
      </form>
    </div>
</body>
</html>
