// * {
//   border: 1px solid black;
// }

body {
  background-image: url('/images/kfc-4.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  z-index: -1;
}

.card {
  height: 20rem;
  width: 18rem;
  margin-bottom: 5vh;
  background-color: transparent;
}

.card-body {
  width: 100%;
}
//   h3 {
//     font-size: 2vw;
//     text-shadow: 1px 1px rgb(63, 62, 62);
//   }

//   p {
//     font-size: 1.4vw;
//   }

//   .index-logo {
//     color: black;
//     font-family: 'Caveat', cursive;
//     font-size: 5.5vw;
//     text-shadow: 2px 2px rgb(243, 214, 171);
//   }

//   .index-container {
//     width: 30vw;
//     height: 70vh;
//     background: rgba(255, 166, 0, 0.488);
//     color:  white;
//     font-weight: 600;
//     margin-left: auto;
//     margin-right: 6vw;
//     margin-top: 14vh;
//     font-family: 'Raleway', sans-serif;
//   }

//   .index-button {
//     background: rgba(0, 0, 0, 0.797);
//     border: 0;
//     color: white;
//     padding: 0.5vw;
//     width: 10vw;
//     height: 5vh;
//     margin: 0.7vh;
//     font-size: 1.3vw;

//     &:hover {
//       cursor: pointer;
//       outline: 2px solid rgb(243, 214, 171);
//     }

//     a {
//       color: rgb(249, 227, 195);

//       &:hover {
//         color: rgb(249, 227, 195);
//         text-decoration: none;
//       }

//       &:visited {
//         color: rgb(249, 227, 195);
//       }
//     }
//   }
// }

