// * {
//   border: 1px solid black;
// }

.menu {
  background-image: url('/images/kfc-4.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  z-index: -1;
  padding-top: 65px;
}

.menu-item {
  margin: 2rem 20rem;
}


.card-img-top {
  height: 35vh;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
}
