// * {
//   border: 1px solid black;
// }

.menu {
  background-image: url('/images/kfc-4.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  z-index: -1;
  padding-top: 65px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

.menu-item {
  margin: 2rem 20rem;
}

.menu-list {
  list-style-type: none;
}

.menu-item-anchors {
  font-size: 1.5rem;
  padding: 1rem 0;
  
  a {
    text-decoration: none;
    color: inherit;
    margin: 0 3rem;
  }
}

#mains {
  border: 5px solid black;
}
#sides {
  border: 5px solid black;
}
#soups {
  border: 5px solid black;
}
#alcohol {
  border: 5px solid black;
}
#beverages {
  border: 5px solid black;
}