.order-container {
  background-image: url('/images/restaurant.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -1;
  padding-top: 65px;
  height: 100vh;
}

.order-form {
  background-color: white;
}

.form-group textarea {
  resize: none;
}